.accordion-title{
    border: 2px solid white;
    width: 400px;
    height: 30px;
    margin-top: 8px
}

.accordion-content{
    width: 386px;
    margin-bottom: 5px;
    padding: 8px;
    border: 1px solid white;
    text-align: center;
    border-radius: 5px
}
